<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head></head>
<body>

<th:block th:fragment="css">

    <link rel="shortcut icon"
          th:href="@{/resources/static/img/favicon.ico}" type="image/x-icon">
    <link rel="icon" th:href="@{/resources/static/img/favicon.ico}"
          type="image/x-icon">

    <link rel="stylesheet"
          th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css}">
    <link th:href="@{/resources/static/css/bootstrap.css}" rel="stylesheet"
          type="text/css" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/static/css/style.css}" />

    <!--Date picker range ako bude trebalo-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

</th:block>
</body>
</html>