<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Detalji ponude</title>

    <th:block th:replace="fragments :: css"></th:block>
</head>
<body>
<th:block th:include="fragments :: header"></th:block>

<div layout:fragment="content">

    <div class="container-fluid" style="padding-top: 20vh;">
        <div class="row justify-content-md-center">
            <h3 class="text-danger">Niste u mogućnosti rezervirati ponudu!</h3>
        </div>
        <div class="row justify-content-md-center">
            <p class="text-danger" th:text="${errorMessage}"></p>
        </div>
    </div>

</div>

<th:block th:include="fragments :: footer"></th:block>
<th:block th:include="fragments :: additionalScripts"></th:block>
<th:block th:include="fragments :: formValidationScript"></th:block>
</body>
</html>