<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout">
<head>
    <title>Podaci o profilu</title>

    <th:block th:replace="fragments :: css"></th:block>
</head>
<body>
<th:block th:include="fragments :: header"></th:block>

<div layout:fragment="content">
    <div class="container" style="padding-top: 20vh;">

        <div class="row justify-content-md-center">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Podaci o profilu <a sec:authorize="isAuthenticated()" th:if="${user.username == #authentication.getPrincipal().getUsername()}" th:href="@{/profile/edit}" class="btn btn-warning"><i class="fa fa-pencil"></i> Uredi</a>
                        </h3>
                    </div>

                    <div style="padding: 1rem;" class='card card-profile'>
                        <div class='card-block'>
                            <h4 class='card-title'></h4>
                            <img src="https://i.guildwalls.com/users/avatars/22791.png?t=1229176239"/>
                            <div class="list-group">
                                <span class="list-group-item"
                                      th:utext="${'<b>Korisničko ime: </b>' + user.username}"></span>
                                <span class="list-group-item" th:utext="${'<b>Ime: </b>' + user.name}">Front-end designer
                                </span>
                                <span class="list-group-item" th:utext="${'<b>Prezime: </b>' + user.surname}">Front-end
                                    designer
                                </span>
                                <br/>
                                <div class="list-group-item">
                                    <i class="fa fa-user"></i>
                                    <span th:utext="${'<b>Član od </b>' + #dates.format(user.dateOfRegistration, 'dd.MM.yyyy.')}">
                                        Front-end designer
                                    </span>
                                </div>
                                <br/>
                                <div th:if="${user.dateOfBirth != null}" class="list-group-item">
                                    <i class="fa fa-birthday-cake"></i>
                                    <span
                                            th:utext="${user.dateOfBirth != null ? ('<b>Rođen/a </b>' + #dates.format(user.dateOfBirth, 'dd.MM.yyyy.')) : ''}">
                                    Front-end designer
                                </span>
                                </div>
                                <div th:if="${user.telephone != null}" class="list-group-item">
                                    <i class="fa fa-phone"></i>
                                    <span th:text="${user.telephone}">Front-end designer</span>
                                </div>
                                <div class="list-group-item">
                                    <i class="fa fa-envelope"></i>
                                    <span th:text="${user.email}">Front-end designer</span>
                                </div>
                                <br/>
                                <div class="list-group-item">
                                    <i class="fa fa-check"></i> <em
                                        th:text="${user.reservations.size() + ' rezervacija'}"></em>
                                </div>
                                <br/>
                                <div class="list-group-item">
                                    <i class="fa fa-star"></i> <em
                                        th:text="${user.feedbacks.size() + ' recenzija'}"></em>
                                </div>
                                <br/>
                                <div class="list-group-item">
                                    <i class="fa fa-certificate"></i>
                                    <b> Uloge: </b>
                                    <span th:each="role, iter : ${user.roles}">
                                        <b th:text="${role.getAuthority().replaceFirst('ROLE_', '')}"></b><span
                                            th:if="${iter.index < (iter.size - 1)}">,</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


</div>
<th:block th:include="fragments :: footer"></th:block>

<th:block th:include="fragments :: additionalScripts"></th:block>
</body>
</html>