<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <title th:text="'Podaci o profilu'"></title>

</head>
<body>
<div layout:fragment="content">
    <div class="container" style="padding-top: 20vh;">

        <div class="row justify-content-md-center">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"> <span th:text="#{msg.profile.heading}">Podaci o profilu</span> <a sec:authorize="isAuthenticated()" th:if="${user.username == #authentication.getPrincipal().getUsername()}" th:href="@{/profile/edit}" class="btn btn-warning"><i class="fa fa-pencil"></i> <span th:text="#{msg.profile.edit}">Uredi</a>
                        </h3>
                    </div>

                    <div style="padding: 1rem;" class='card card-profile'>
                        <div class='card-block'>
                            <h4 class='card-title'></h4>
                            <img src="https://i.guildwalls.com/users/avatars/22791.png?t=1229176239"/>
                            <div class="list-group">
                                <div class="list-group-item">
                                    <b>
                                        <span th:text="#{msg.profile.username}"></span>
                                    </b>
                                    <span th:text="${user.username}"></span>
                                </div>
                                <div class="list-group-item">
                                    <b>
                                        <span th:text="#{msg.profile.name}"></span>
                                    </b>
                                    <span th:text="${user.name}"></span>
                                </div>
                                <div class="list-group-item">
                                    <b>
                                        <span th:text="#{msg.profile.surname}"></span>
                                    </b>
                                    <span th:text="${user.surname}"></span>
                                </div>
                                <div class="list-group-item">
                                    <i class="fa fa-user"></i>
                                    <b>
                                        <span th:utext="#{msg.profile.member-since}">
                                        </span>
                                    </b>
                                    <span th:text="${#dates.format(user.dateOfRegistration, 'dd.MM.yyyy.')}"></span>
                                </div>
                                <br/>
                                <div th:if="${user.dateOfBirth != null}" class="list-group-item">
                                    <i class="fa fa-birthday-cake"></i>
                                    <b>
                                        <span th:utext="#{msg.profile.birthday}">
                                        </span>
                                    </b>
                                    <span th:text="${#dates.format(user.dateOfRegistration, 'dd.MM.yyyy.')}"></span>
                                </div>
                                <div th:if="${user.telephone != null}" class="list-group-item">
                                    <i class="fa fa-phone"></i>
                                    <span th:text="${user.telephone}">Front-end designer</span>
                                </div>
                                <div class="list-group-item">
                                    <i class="fa fa-envelope"></i>
                                    <span th:text="${user.email}">Front-end designer</span>
                                </div>
                                <br/>
                                <div class="list-group-item">
                                    <i class="fa fa-check"></i> <em
                                        th:text="${user.reservations.size()}"></em>
                                    <span th:text="#{msg.profile.reservations}">
                                    </span>
                                </div>
                                <br/>
                                <div class="list-group-item">
                                    <i class="fa fa-star"></i> <em
                                        th:text="${user.feedbacks.size()}"></em>
                                    <span th:text="#{msg.profile.reviews}">
                                    </span>
                                </div>
                                <br/>
                                <div class="list-group-item">
                                    <i class="fa fa-certificate"></i>
                                    <b th:text="#{msg.profile.roles}"> Uloge: </b>
                                    <span th:each="role, iter : ${user.roles}">
                                        <b th:text="${role.getAuthority().replaceFirst('ROLE_', '')}"></b><span
                                            th:if="${iter.index < (iter.size - 1)}">,</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>