<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout">
<head>
    <title>Detalji ponude</title>

    <th:block th:replace="fragments :: css"></th:block>
</head>
<body>
<th:block th:include="fragments :: header"></th:block>

<div layout:fragment="content">

    <div th:if="${offer.offerPicture != null}" th:style="'background-image: url(' + ${(offer.offerPicture != null ? (offer.offerPicture.base64String) : (''))} + '); background-repeat: no-repeat; background-size: cover; height:80vh'">
        <div class="row justify-content-md-center" style="background: rgba(255,255,255,0.1); height:80vh">
            <div style="padding-top: 20vh; padding-bottom: 20vh;">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-md-9" style="padding-top: 10vh;">
                <div class="col-md-12">
                    <a th:href="@{'/offer/edit/' + ${offer.id}}"><button type="button"
                                                                         class="btn btn-outline-warning"><i class="fa fa-pencil"></i> Uredi</button></a>
                    <a th:href="@{'/offer/delete/' + ${offer.id}}"><button type="button"
                                                                           class="btn btn-outline-danger"><i class="fa fa-trash"></i> Izbriši</button></a>
                    <div class="row">
                        <div class="col-md-8">
                            <h1 class="panel-title" th:text="${offer.name}"></h1>
                            <h5 class="text-secondary"><span class="fa fa-map-marker"></span> <span th:text="${offer.country + ', '}"></span>
                                <span class="text-black-50" th:text="${offer.city}"></span>
                            </h5>
                            <span th:each="category : ${offer.categories}" class="h5">
                                <span class="badge badge-danger" th:if="${category.name == 'Zabava'}" th:text="${category.name}"></span>
                                <span class="badge badge-warning text-white" th:if="${category.name == 'Hrana i piće'}" th:text="${category.name}"></span>
                                <span class="badge badge-primary" th:if="${category.name == 'Sport'}" th:text="${category.name}"></span>
                                <span class="badge badge-success" th:if="${category.name == 'Putovanja'}" th:text="${category.name}"></span>
                                <span class="badge badge-info" th:if="${category.name == 'Seminar'}" th:text="${category.name}"></span>
                                <span class="badge badge-dark" th:if="${category.name == 'Ostalo'}" th:text="${category.name}"></span>
                            </span>
                        </div>
                        <div class="col-md-4" style="padding-top:2vh">
                            <h6><span class="fa fa-male text-danger"></span> <span th:text="${offer.minNumberOfUsers} + ' - '"></span>
                                <span th:text="${offer.maxNumberOfUsers}"></span> ljudi</h6>
                            <h6><span class="fa fa-money text-success"></span> <span th:text="${#numbers.formatDecimal(offer.pricePerPerson,2,0)}"></span> kn po osobi</h6>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <div class="row justify-content-md-center">

            <div class="col-md-9" style="padding-top: 5vh;">

                <div class="col-md-12">
                    <div class="row">

                        <div class="col-md-8">
                            <p class="text-black-50" th:text="${offer.description}"></p>
                        </div>
                        <div class="col-md-4">
                            <h6><span class="fa fa-phone text-info"></span> <span th:text="${offer.user.telephone}"></span> </h6>
                            <h6><span class="fa fa-envelope text-info"></span> <span th:text="${offer.user.email}"></span> </h6>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row justify-content-md-center">

            <div class="col-md-9" style="padding-top: 5vh;">

                <div class="col-md-12">
                    <iframe th:src="'//www.google.com/maps/embed/v1/place?q=' + ${offer.city} + '/&zoom=10&key=AIzaSyBpTDfNDgB8BaIZiSj19PSJeqgvFnXL6Vg'" height="500" class="col-md-12"></iframe>

                </div>
            </div>

        </div>

        <div class="row justify-content-md-center">

            <div class="col-md-9" style="padding-top: 5vh;">
                <div class="col-md-12" >
                    <div th:each="feedback, i : ${offer.feedbacks}">

                        <h4 class="text-muted" th:if="${i.index}==0">Osvrti korisnika:</h4><br>
                        <div class="card" th:if="${i.index}<2">
                            <div class="card-body" >
                                <div class="row"  >
                                    <div class="col-md-2">
                                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" style="width:100px"/>
                                        <p class="text-secondary" th:text="${#dates.format(feedback.dateSubmitted, 'dd.MM.yyyy.')}"></p>
                                    </div>
                                    <div class="col-md-10">
                                        <br>
                                        <p>
                                            <strong th:text="${feedback.user.name} + ' ' + ${feedback.user.surname}"></strong>

                                            <span class="float-right" ><i class="text-warning fa fa-star"></i></span>
                                            <span class="float-right" th:if="${feedback.numberOfStars == 2 or feedback.numberOfStars == 3 or feedback.numberOfStars == 4 or feedback.numberOfStars == 5}"><i class="text-warning fa fa-star"></i></span>
                                            <span class="float-right" th:if="${feedback.numberOfStars == 3 or feedback.numberOfStars == 4 or feedback.numberOfStars == 5}"><i class="text-warning fa fa-star"></i></span>
                                            <span class="float-right" th:if="${feedback.numberOfStars == 4 or feedback.numberOfStars == 5}"><i class="text-warning fa fa-star"></i></span>
                                            <span class="float-right" th:if="${feedback.numberOfStars == 5}"><i class="text-warning fa fa-star"></i></span>

                                        </p>
                                        <div class="clearfix"></div>
                                        <br>
                                        <p th:text="${feedback.comment}"></p>

                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-sm text-right" th:remove="${!i.last} ? all" th:if="${i.index > 1}">
                            <a th:href="@{'/offer/details/' + ${offer.id} + '/reviews'}">Pogledaj sve osvrte</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row justify-content-md-center">

            <div class="col-md-9" style="padding-top: 5vh;">
                <div class="col-md-12">
                    <form role="form" method="POST" name="formReservation"
                          th:action="@{/offer/reserve}" class="needs-validation" novalidate>
                        <div class="form-row">

                            <div class="form-group col-md-3">
                                <label for="date">Datum dolaska:</label>
                                    <input type="text" class="form-control form-control-lg col-md-12" required="required"
                                           th:value="${#dates.format(#dates.createNow(), 'dd.MM.yyyy.')}" name="date" id="date"/>
                                    <div class="invalid-feedback">
                                       <span>Odaberi datum dolaska!</span>
                                    </div>

                            </div>
                            <div class="form-group col-md-2">
                                <label for="numberOfUsers">Broj korisnika:</label>
                                    <input type="number" th:attr="min=${offer.minNumberOfUsers}, max=${offer.maxNumberOfUsers}"
                                           required="required"
                                           th:placeholder="${offer.minNumberOfUsers}+ ' - ' + ${offer.maxNumberOfUsers}"
                                           class="form-control form-control-lg col-md-12" name="numberOfUsers" id="numberOfUsers"  />
                                    <div class="invalid-feedback">
                                       <span>Odaberi broj korisnika!</span>
                                    </div>
                            </div>
                            <div class="form-group col-md-7" style="margin-top:32px">

                                <input class="btn btn-lg btn-outline-primary btn-block"
                                       type="submit" value="Rezerviraj ponudu" />
                            </div>


                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
    </div>

</div>

<th:block th:include="fragments :: footer"></th:block>
<th:block th:include="fragments :: additionalScripts"></th:block>
<th:block th:include="fragments :: formValidationScript"></th:block>
</body>
</html>