<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{msg.reviews.pageTitle}"></title>

    <th:block th:replace="fragments :: css"></th:block>
</head>
<body>
<th:block th:include="fragments :: header"></th:block>

<div layout:fragment="content">

    <div class="container" style="padding-top: 20vh;">

        <h4 class="text-muted" th:text="#{msg.reviews.pageTitle}"></h4><br>
        <div class="card" th:each="feedback : ${feedbacks}">
            <div class="card-body" >
                <div class="row"  >
                    <div class="col-md-2">
                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" style="width:100px"/>
                        <p class="text-secondary" th:text="${#dates.format(feedback.dateSubmitted, #{msg.dateFormat})}"></p>
                    </div>
                    <div class="col-md-10">
                        <br>
                        <p>
                            <strong th:text="${feedback.user.name} + ' ' + ${feedback.user.surname}"></strong>

                            <span class="float-right" ><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right" th:if="${feedback.numberOfStars == 2 or feedback.numberOfStars == 3 or feedback.numberOfStars == 4 or feedback.numberOfStars == 5}"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right" th:if="${feedback.numberOfStars == 3 or feedback.numberOfStars == 4 or feedback.numberOfStars == 5}"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right" th:if="${feedback.numberOfStars == 4 or feedback.numberOfStars == 5}"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-right" th:if="${feedback.numberOfStars == 5}"><i class="text-warning fa fa-star"></i></span>

                        </p>
                        <div class="clearfix"></div>
                        <br>
                        <p th:text="${feedback.comment}"></p>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<th:block th:include="fragments :: footer"></th:block>
<th:block th:include="fragments :: additionalScripts"></th:block>
<th:block th:include="fragments :: formValidationScript"></th:block>
</body>
</html>