<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Team building ponude</title>

    <th:block th:replace="fragments :: css"></th:block>
</head>
<body>
<th:block th:include="fragments :: header"></th:block>

<div layout:fragment="content" >

    <div style="background: url('/resources/static/img/login.jpeg')">
        <div class="row justify-content-md-center"  style="background: rgba(255,255,255,0.4)">
            <div class="col-md-7" style="padding-top: 20vh; padding-bottom: 10vh;">
                <div class="mx-auto text-center alert alert-danger" th:if="${offerNotFound}">
                    <span th:text="${offerNotFound}"></span>
                </div>
                <div class="mx-auto text-center alert alert-danger" th:if="${invalidOwner}">
                    <span th:text="${invalidOwner}"></span>
                </div>
                <div class="mx-auto text-center alert alert-danger" th:if="${offerDeleted}">
                    <span th:text="${offerDeleted}"></span>
                </div>
                <div class="panel panel-default" style="background: rgba(33,37,41,0.9); padding: 5% 5%">
                    <div class="panel-heading">
                        <h3 class="panel-title text-white">Pretraži team building ponude</h3>
                    </div>
                    <br>

                    <div class="panel-body">

                        <form role="form" method="POST" name="searchOffer" th:object="${searchOfferForm}" th:action="@{/offer/search}" class="needs-validation" novalidate>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="category" class="text-white">Odaberite željenu kategoriju</label>
                                    <select class="custom-select mr-sm-2" id="category" th:field="*{category}">
                                        <option value="" selected>Odaberite kategoriju</option>
                                        <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}">
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="category" class="text-white">Unesite željeni broj osoba</label>
                                    <input th:field="*{numOfPeople}" th:value="${10}" type="number" min="1" max="250" onkeypress="return event.charCode >= 48" name="numOfPeople" class="form-control" id="numOfPeople" placeholder="Broj osoba" autofocus>
                                    <div class="invalid-feedback">Unesite broj osoba za team building manji od 250!</div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="country" class="text-white">Unesite željenu državu</label>
                                    <input th:field="*{country}" type="text" name="country" class="form-control" id="country" placeholder="Država" autofocus>
                                    <div class="invalid-feedback">Unesite valjan naziv države!</div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="country" class="text-white">Unesite željeni grad</label>
                                    <input th:field="*{city}" type="text" name="city" class="form-control" id="city" placeholder="Grad" autofocus>
                                    <div class="invalid-feedback">Unesite valjan naziv grada!</div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6 align-content-md-center">
                                    <label for="country" class="text-white">Datum održavanja team buildinga</label>
                                    <input th:field="*{date}" type="text" name="date" class="form-control" id="date" placeholder="Datum">
                                </div>
                            </div>

                            <input class="btn btn-lg btn-outline-primary btn-block" type="submit" value="Pretraži ponude!" />

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="container">

        <th:block th:include="fragments :: results"></th:block>

        <div class="row justify-content-md-center">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" id="ponude">Izdvojene team building ponude</h3>
                    </div>
                    <br></br>

                    <div class="panel-body">
                        <div class="card-columns">
                            <tr th:each="offer : ${topOffers}">
                                <a style="color: black; text-decoration: none;" th:href="@{'/offer/details/' + ${offer.id}}">
                                    <div class="card md-4">
                                        <img class="card-img-top" th:src="${offer.offerPicture.base64String}" alt="Card image cap" style="height: 18rem;">
                                        <div class="card-body" style="height: 10rem;">
                                            <h4 class="card-title" th:text="${offer.name}"></h4>
                                            <p class="card-text text-justify" th:text="${#strings.substring(offer.description,0,79) + '...'}" th:if="${#strings.length(offer.description) > 80}"></p>
                                            <p class="card-text text-justify" th:text="${offer.description}" th:if="${#strings.length(offer.description) < 81}"></p>
                                        </div>
                                        <div class="card-footer">
                                            <a th:href="@{'/offer/details/' + ${offer.id}}" class="d-inline">
                                                <button type="button" class="btn btn-outline-info"><i class="fa fa-info"></i> Detalji</button></a>
                                            <p class="d-inline pull-right" th:text="${offer.pricePerPerson + ' kn'}"></p>
                                        </div>
                                    </div>
                                </a>
                            </tr>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="fragments :: footer"></th:block>

<th:block th:include="fragments :: formValidationScript"></th:block>
<th:block th:include="fragments :: additionalScripts"></th:block>
</body>
</html>