<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Team building ponude</title>

    <th:block th:replace="fragments :: css"></th:block>
</head>
<body>
<th:block th:include="fragments :: header"></th:block>

<div layout:fragment="content" >

    <div style="background: url('/resources/static/img/login.jpeg')">
        <div class="row justify-content-md-center"  style="background: rgba(255,255,255,0.4)">
            <div class="col-md-7" style="padding-top: 20vh; padding-bottom: 20vh;">
                <div class="panel panel-default" style="background: rgba(33,37,41,0.9); padding: 5% 5%">
                    <div class="panel-heading">
                        <h3 class="panel-title text-white">Pretraži team building ponude</h3>
                    </div>
                    <br>

                    <div class="panel-body">

                        <form role="form" method="POST" name="searchOffer" th:action="@{/searchOffer}" class="needs-validation" novalidate>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="category" class="text-white">Odaberite željenu kategoriju</label>
                                    <select class="custom-select mr-sm-2" id="category">
                                        <option selected value="1">Sport</option>
                                        <option value="2">Putovanja</option>
                                        <option value="3">Rekreacija</option>
                                        <option value="4">Avantura</option>
                                        <option value="5">Zabavni program</option>
                                        <option value="6">Ostalo</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="category" class="text-white">Unesite željeni broj osoba</label>
                                    <input type="number" min="1" onkeypress="return event.charCode >= 48" name="numOfPeople" class="form-control" id="numOfPeople" placeholder="Broj osoba" required autofocus>
                                    <div class="invalid-feedback">Unesite broj osoba za team building!</div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="country" class="text-white">Unesite željenu državu</label>
                                    <input type="text" name="country" class="form-control" id="country" placeholder="Država" required autofocus>
                                    <div class="invalid-feedback">Unesite valjan naziv države!</div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="country" class="text-white">Unesite željeni grad</label>
                                    <input type="text" name="city" class="form-control" id="city" placeholder="Grad" required autofocus>
                                    <div class="invalid-feedback">Unesite valjan naziv grada!</div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="country" class="text-white">Datum od</label>
                                    <input type="date" name="dateFrom" class="form-control" id="dateFrom" placeholder="Ponuda raspoloživa od" required autofocus>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="country" class="text-white">Datum do</label>
                                    <input type="date" name="dateTo" class="form-control" id="dateTo" placeholder="Ponuda raspoloživa do" required autofocus>
                                </div>
                            </div>

                            <input class="btn btn-lg btn-danger btn-block" type="submit" value="Pretraži ponude!" />

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="container">

        <br>
        <br>

        <div class="row justify-content-md-center">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" id="ponude">Izdvojene team building ponude</h3>
                    </div>
                    <br></br>

                    <div class="panel-body">
                        <div class="card-deck">
                            <div class="card">
                                <img class="card-img-top" src="https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2017/whatcountsas.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Ponuda 1</h5>
                                    <p class="card-text">Ovo je prva ponuda.</p>
                                    <a href="#" class="btn btn-info">Detalji</a>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2017/whatcountsas.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Ponuda 2</h5>
                                    <p class="card-text">Ovo je druga ponuda.</p>
                                    <a href="#" class="btn btn-info">Detalji</a>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2017/whatcountsas.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Ponuda 3</h5>
                                    <p class="card-text">Ovo je treća ponuda.</p>
                                    <a href="#" class="btn btn-info">Detalji</a>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="card-deck">
                            <div class="card">
                                <img class="card-img-top" src="https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2017/whatcountsas.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Ponuda 4</h5>
                                    <p class="card-text">Ovo je četvrta ponuda.</p>
                                    <a href="#" class="btn btn-info">Detalji</a>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2017/whatcountsas.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Ponuda 5</h5>
                                    <p class="card-text">Ovo je peta ponuda.</p>
                                    <a href="#" class="btn btn-info">Detalji</a>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2017/whatcountsas.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Ponuda 6</h5>
                                    <p class="card-text">Ovo je šesta ponuda.</p>
                                    <a href="#" class="btn btn-info">Detalji</a>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="card-deck">
                            <div class="card">
                                <img class="card-img-top" src="https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2017/whatcountsas.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Ponuda 7</h5>
                                    <p class="card-text">Ovo je sedma ponuda.</p>
                                    <a href="#" class="btn btn-info">Detalji</a>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2017/whatcountsas.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Ponuda 8</h5>
                                    <p class="card-text">Ovo je osma ponuda.</p>
                                    <a href="#" class="btn btn-info">Detalji</a>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2017/whatcountsas.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Ponuda 9</h5>
                                    <p class="card-text">Ovo je deveta ponuda.</p>
                                    <a href="#" class="btn btn-info">Detalji</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="fragments :: footer"></th:block>

<th:block th:include="fragments :: registerScript"></th:block>
<th:block th:include="fragments :: additionalScripts"></th:block>
</body>
</html>