<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{msg.offer.edit.heading}"></title>

</head>
<body>


<div layout:fragment="content">
    <div style="background-image: url('/resources/static/img/login.jpeg'); background-repeat: no-repeat;">
        <div class="row justify-content-md-center"  style="background: rgba(255,255,255,0.4); ">
            <div class="col-md-7" style="padding-top: 20vh; padding-bottom: 20vh;">
                <div class="panel panel-default"  style="background: rgba(33,37,41,0.9); padding: 5% 5%">
                    <div class="panel-heading">
                        <h3 class="panel-title text-white" th:text="#{msg.offer.edit.heading}"></h3>
                    </div>
                    <br>

                    <div class="panel-body">
                        <form role="form" method="POST" name="formNewOffer" th:action="@{/offer/edit}" th:object="${editOfferForm}" class="needs-validation" enctype="multipart/form-data" novalidate>

                            <input type="hidden" name="id" th:field="*{id}"/>

                            <div class="form-group">
                                <label for="name" class="text-white" th:text="#{msg.offer.new.name} + ':'"> </label>
                                <input class="form-control" type="text" th:field="*{name}" id="name"/>
                                <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
                            </div>

                            <label class="text-white" th:text="#{msg.offer.new.categories}+ ':'"> </label>
                            <br/>
                            <span class="form-group" th:each="category, stat : ${categories}">
                                    <label th:for="${'category' + category.id}" class="btn btn-secondary text-white" th:text="${category.name}"/>

                                    <input type="checkbox" class="text-white" th:id="${'category' + category.id}" name="category"
                                           th:field="*{categories}"
                                           th:value="${category.name}" />
                                </span>
                            <div class="text-danger" th:if="${#fields.hasErrors('categories')}" th:errors="*{categories}">Categories Error</div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="country" class="text-white" th:text="#{msg.offer.new.country} + ':'"></label>
                                    <input th:field="*{country}" type="text" name="country" class="form-control" id="country"
                                           th:placeholder="#{msg.offer.new.country}" required autofocus>
                                    <div class="text-danger" th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Country Error</div>

                                    <div class="invalid-feedback" th:text="#{msg.offer.new.country.help}"></div>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="city" class="text-white" th:text="#{msg.offer.new.location} + ':'"></label>
                                    <input th:field="*{city}" type="text" name="city" class="form-control" id="city"
                                           th:placeholder="#{msg.offer.new.city}" required autofocus>
                                    <div class="text-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Location Error</div>

                                    <div class="invalid-feedback" th:text="#{msg.offer.new.city.help}"></div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="min" class="text-white" th:text="#{msg.offer.new.min-people} + ':'"></label>
                                    <input th:field="*{minNumberOfUsers}" type="number" min="1" onkeypress="return event.charCode >= 48" name="min" class="form-control" id="min"
                                           th:placeholder="#{msg.offer.new.min-people}" required autofocus>
                                    <div class="text-danger" th:if="${#fields.hasErrors('minNumberOfUsers')}" th:errors="*{minNumberOfUsers}">Min people Error</div>

                                    <div class="invalid-feedback" th:text="#{msg.offer.new.min-people.help}"></div>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="max" class="text-white" th:text="#{msg.offer.new.max-people} + ':'"></label>
                                    <input th:field="*{maxNumberOfUsers}" type="number" min="1" onkeypress="return event.charCode >= 48" name="max" class="form-control" id="max"
                                           th:placeholder="#{msg.offer.new.max-people}" required autofocus>
                                    <div class="text-danger" th:if="${#fields.hasErrors('maxNumberOfUsers')}" th:errors="*{maxNumberOfUsers}">Max people Error</div>

                                    <div class="invalid-feedback" th:text="#{msg.offer.new.max-people.help}"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="price" class="text-white" th:text="#{msg.offer.new.price-per-person} + ':'"></label>
                                <input th:field="*{pricePerPerson}" type="number" min="0" step = "any" onkeypress="return event.charCode >= 48" name="price" class="form-control" id="price"
                                       th:placeholder="#{msg.offer.new.price-per-person}" required autofocus>
                                <div class="text-danger" th:if="${#fields.hasErrors('pricePerPerson')}" th:errors="*{pricePerPerson}">Price Error</div>

                                <div class="invalid-feedback" th:text="#{msg.offer.new.price-per-person.help}"></div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="availableFrom" class="text-white" th:text="#{msg.offer.new.available-from} + ':'"></label>
                                    <input th:field="*{availableFrom}" type="date" name="availableFrom" class="form-control" id="availableFrom"
                                           th:placeholder="#{msg.offer.new.available-from}" required autofocus>
                                    <div class="text-danger" th:if="${#fields.hasErrors('availableFrom')}" th:errors="*{availableFrom}">Available from Error</div>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="availableTo" class="text-white" th:text="#{msg.offer.new.available-to} + ':'"></label>
                                    <input th:field="*{availableTo}" type="date" name="availableTo" class="form-control" id="availableTo"
                                           th:placeholder="#{msg.offer.new.available-to}" required autofocus>
                                    <div class="text-danger" th:if="${#fields.hasErrors('availableTo')}" th:errors="*{availableTo}">Available to Error</div>
                                </div>
                            </div>

                            <input th:field="*{dateAdded}" type="hidden" name="availableTo" class="form-control" id="availableTo" required autofocus>

                            <div class="form-group">
                                <label for="file" class="text-white" th:text="#{msg.offer.new.picture} + ':'"><br/><span th:text="#{msg.offer.edit.image}"> </span></label>
                                <input class="form-control" type="file" id="file" name="file" accept="image">
                            </div>

                            <div class="form-group">
                                <label for="description" class="text-white" th:text="#{msg.offer.new.description} + ':'"></label>
                                <textarea th:field="*{description}" class="form-control" rows="5" id="description"></textarea>
                                <div class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</div>
                            </div>
                            <input class="btn btn-lg btn-primary btn-block" type="submit" th:value="#{msg.offer.new.submit}"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>