<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <title>Nova ponuda</title>

</head>
<body>


<div layout:fragment="content">
        <div style="background-image: url('/resources/static/img/login.jpeg'); background-repeat: no-repeat;">
            <div class="row justify-content-md-center"  style="background: rgba(255,255,255,0.4); ">
                <div class="col-md-7" style="padding-top: 20vh; padding-bottom: 20vh;">
                    <div class="panel panel-default"  style="background: rgba(33,37,41,0.9); padding: 5% 5%">
                        <div class="panel-heading">
                            <h3 class="panel-title text-white" th:text="#{msg.offer.new.heading}">Nova team building ponuda</h3>
                        </div>
                        <br></br>

                        <div class="panel-body">

                            <form role="form" method="POST" name="formNewOffer" th:action="@{/offer/new}" th:object="${newOfferForm}" class="needs-validation" enctype="multipart/form-data" novalidate>
                                <div class="form-group">
                                    <label for="name" class="text-white" th:text="#{msg.offer.new.name}">Naziv: </label>
                                    <input type="text" class="form-control" id="name" name="name" th:field="*{name}"/>
                                    <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>

                                </div>

                                <label class="text-white" th:text="#{msg.offer.new.categories}">Kategorije: </label>
                                <br/>
                                <span class="form-group" th:each="category, stat : ${categories}">
                                    <label th:for="${'category' + category.id}" class="btn btn-secondary text-white" th:text="${category.name}"/>

                                    <input type="checkbox" class="text-white" th:id="${'category' + category.id}" name="category"
                                           th:field="*{categories}"
                                           th:value="${category.name}" />
                                </span>
                                <div class="text-danger" th:if="${#fields.hasErrors('categories')}" th:errors="*{categories}">Name Error</div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label th:text="#{msg.offer.new.country}" for="country" class="text-white">Država: </label>
                                        <input th:field="*{country}" type="text" name="country" class="form-control" id="country"
                                               placeholder="Država" required autofocus>
                                        <div class="text-danger" th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Name Error</div>

                                        <div class="invalid-feedback">
                                            Unesite državu!
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label th:text="#{msg.offer.new.location}" for="city" class="text-white">Mjesto održavanja: </label>
                                        <input th:field="*{city}" type="text" name="city" class="form-control" id="city"
                                               placeholder="Grad" required autofocus>
                                        <div class="text-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Name Error</div>

                                        <div class="invalid-feedback">
                                            Unesite grad!
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label th:text="#{msg.offer.new.min-persons}" for="min" class="text-white">Najmanji broj osoba: </label>
                                        <input th:field="*{minNumberOfUsers}" type="number" min="1" onkeypress="return event.charCode >= 48" name="min" class="form-control" id="min"
                                               placeholder="Minimalni broj osoba" required autofocus>
                                        <div class="text-danger" th:if="${#fields.hasErrors('minNumberOfUsers')}" th:errors="*{minNumberOfUsers}">Name Error</div>

                                        <div class="invalid-feedback">
                                            Unesite najmanji broj osoba potreban za održavanje team buildinga!
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label th:text="#{msg.offer.new.max-persons}" for="max" class="text-white">Najveći mogući broj osoba: </label>
                                        <input th:field="*{maxNumberOfUsers}" type="number" min="1" onkeypress="return event.charCode >= 48" name="max" class="form-control" id="max"
                                               placeholder="Maksimalan broj osoba" required autofocus>
                                        <div class="text-danger" th:if="${#fields.hasErrors('maxNumberOfUsers')}" th:errors="*{maxNumberOfUsers}">Name Error</div>

                                        <div class="invalid-feedback">
                                            Unesite najveći mogući broj osoba na team building ponudi!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label th:text="#{msg.offer.new.price-per-person}" for="price" class="text-white">Cijena po osobi: </label>
                                    <input th:field="*{pricePerPerson}" type="number" min="0" step = "any" onkeypress="return event.charCode >= 48" name="price" class="form-control" id="price"
                                           placeholder="Cijena po osobi" required autofocus>
                                    <div class="text-danger" th:if="${#fields.hasErrors('pricePerPerson')}" th:errors="*{pricePerPerson}">Name Error</div>

                                    <div class="invalid-feedback">
                                        Unesite cijenu!
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label th:text="#{msg.offer.new.available-from}" for="availableFrom" class="text-white">Ponuda raspoloživa od:</label>
                                        <input th:field="*{availableFrom}" type="date" name="availableFrom" class="form-control" id="availableFrom"
                                               placeholder="Ponuda raspoloživa od" required autofocus>
                                        <div class="text-danger" th:if="${#fields.hasErrors('availableFrom')}" th:errors="*{availableFrom}">Name Error</div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label th:text="#{msg.offer.new.available-to}" for="availableTo" class="text-white">Ponuda raspoloživa do:</label>
                                        <input th:field="*{availableTo}" type="date" name="availableTo" class="form-control" id="availableTo"
                                               placeholder="Ponuda dostupna do" required autofocus>
                                        <div class="text-danger" th:if="${#fields.hasErrors('availableTo')}" th:errors="*{availableTo}">Name Error</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label th:text="#{msg.offer.new.picture}" for="file" class="text-white">Slika:</label>
                                    <input class="form-control" type="file" id="file" name="file" accept="image">
                                </div>

                                <div class="form-group">
                                    <label th:text="#{msg.offer.new.description}" for="opis" class="text-white">Opis team building ponude:</label>
                                    <textarea th:field="*{description}" class="form-control" rows="5" id="opis"></textarea>
                                    <div class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</div>
                                </div>

                                <input class="btn btn-lg btn-primary btn-block" type="submit" th:value="#{msg.offer.new.submit}" />

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>