<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{msg.search.pageTitle}"></title>

</head>
<body>

<div layout:fragment="content" >

    <div style="background: url('/resources/static/img/login.jpeg'"); >
        <div class="row justify-content-md-center"  style="background: rgba(255,255,255,0.4)">
            <div class="col-md-7" style="padding-top: 20vh; padding-bottom: 10vh;">
                <div class="mx-auto text-center alert alert-danger" th:if="${offerNotFound}">
                    <span th:text="${offerNotFound}"></span>
                </div>
                <div class="mx-auto text-center alert alert-danger" th:if="${invalidOwner}">
                    <span th:text="${invalidOwner}"></span>
                </div>
                <div class="mx-auto text-center alert alert-danger" th:if="${offerDeleted}">
                    <span th:text="${offerDeleted}"></span>
                </div>
                <div class="panel panel-default" style="background: rgba(33,37,41,0.9); padding: 5% 5%">
                    <div class="panel-heading">
                        <h3 class="panel-title text-white" th:text="#{msg.search.title}"></h3>
                    </div>
                    <br>

                    <div class="panel-body">

                        <form role="form" method="POST" name="searchOffer" th:object="${searchOfferForm}" th:action="@{/offer/search}" class="needs-validation" novalidate>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="category" class="text-white" th:text="#{msg.search.category.help}"></label>
                                    <select class="custom-select mr-sm-2" id="category" th:field="*{category}">
                                        <option value="" selected th:text="#{msg.search.category.select}"></option>
                                        <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}">
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="numOfPeople" class="text-white" th:text="#{msg.search.numOfPeople.help}"></label>
                                    <input th:field="*{numOfPeople}" th:value="${10}" type="number" min="1" max="250" onkeypress="return event.charCode >= 48" name="numOfPeople"
                                           class="form-control" id="numOfPeople" th:placeholder="#{msg.search.numOfPeople.placeholder}" autofocus>
                                    <div class="invalid-feedback" th:text="#{msg.search.numOfPeople.invalid}"></div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="country" class="text-white" th:text="#{msg.search.country.help}"></label>
                                    <input th:field="*{country}" type="text" name="country" class="form-control"
                                           id="country" th:placeholder="#{msg.search.country.placeholder}" autofocus>
                                    <div class="invalid-feedback" th:text="#{msg.search.country.invalid}"></div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="city" class="text-white" th:text="#{msg.search.city.help}"></label>
                                    <input th:field="*{city}" type="text" name="city" class="form-control"
                                           id="city" th:placeholder="#{msg.search.city.placeholder}" autofocus>
                                    <div class="invalid-feedback" th:text="#{msg.search.city.invalid}"></div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6 align-content-md-center">
                                    <label for="date" class="text-white" th:text="#{msg.search.date.help}"></label>
                                    <input th:field="*{date}" type="text" name="date" class="form-control"
                                           id="date" th:placeholder="#{msg.search.date.placeholder}">
                                </div>
                            </div>

                            <input class="btn btn-lg btn-outline-primary btn-block" type="submit" th:value="#{msg.search.link}" />

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="container">
        <br>
        <br>
        <th:block th:include="/fragments/search-results :: results"></th:block>


        <div class="row justify-content-md-center">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-primary" id="ponude" th:text="#{msg.offers.top}"></h3>
                    </div>
                    <br>

                    <div class="panel-body">
                        <div class="card-columns">
                            <tr th:each="offer : ${topOffers}">
                                <a style="color: black; text-decoration: none;" th:href="@{'/offer/details/' + ${offer.id}}">
                                    <div class="card md-4">
                                        <img class="card-img-top" th:src="${offer.offerPicture.base64String}" alt="Card image cap" style="height: 18rem;">
                                        <div class="card-body" style="height: 10rem;">
                                            <h4 class="card-title" th:text="${offer.name}"></h4>
                                            <p class="card-text text-left" th:text="${#strings.substring(offer.description,0,79) + '...'}" th:if="${#strings.length(offer.description) > 80}"></p>
                                            <p class="card-text text-left" th:text="${offer.description}" th:if="${#strings.length(offer.description) < 81}"></p>
                                        </div>
                                        <div class="card-footer">
                                            <a th:href="@{'/offer/details/' + ${offer.id}}" class="d-inline">
                                                <button type="button" class="btn btn-outline-info"><i class="fa fa-info"></i> <span th:text="#{msg.details}"></span>
                                                </button>
                                            </a>
                                            <p class="d-inline pull-right" th:text="${#numbers.formatDecimal(offer.pricePerPerson,2,0)} + ' kn'"></p>
                                        </div>
                                    </div>
                                </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>