<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{msg.about.pageTitle}"></title>

    <th:block th:replace="fragments :: css"></th:block>

    <style>
        .card p {
            padding: 1%;
        }
        .card{

            margin: 2% 0% 2% 2%;
        }
    </style>
</head>
<body>
<th:block th:include="fragments :: header"></th:block>

<div layout:fragment="content" >

    <div style="background: url('/resources/static/img/login.jpeg')">
        <div class="row justify-content-md-center"  style="background: rgba(255,255,255,0.4)">
            <div class="col-md-7" style="padding-top: 20vh; padding-bottom: 10vh;">
                <div class="panel panel-default" style="background: rgba(33,37,41,0.9); padding: 5% 5%">
                    <div class="panel-heading">
                        <h3 class="panel-title text-white" th:utext="#{msg.about.title1}"></h3>
                    </div>
                    <br>

                    <div class="panel-body">
                        <h5 class="text-white"><b th:text="#{msg.about.forProviders}"></b></h5>
                        <p class="text-white" th:text="#{msg.about.provider.info1}"></p>

                        <button class="btn btn-danger" onclick="func('new-offer')"><i class="fa fa-angle-down"></i> <span th:text="#{msg.about.provider.question1}"></span></button>

                        <div class="card" id="new-offer" style="display: none">
                            <p th:text="#{msg.about.provider.answer1}"></p>
                        </div>
                        <p class="text-white" th:text="#{msg.about.provider.info2}">
                        </p>
                        <button class="btn btn-danger" onclick="func('edit-offer')"><i class="fa fa-angle-down"></i> <span th:text="#{msg.about.provider.question2}"></span></button>
                        <div class="card" id="edit-offer" style="display: none">
                            <p th:text="#{msg.about.provider.answer2}">
                            </p>
                        </div>

                        <br><br>
                        <h5 class="text-white"><b th:text="#{msg.about.forUsers}"></b></h5>
                        <p class="text-white" th:text="#{msg.about.user.info1}"></p>
                        <button class="btn btn-danger" onclick="func('new-reservation')"><i class="fa fa-angle-down"></i> <span th:text="#{msg.about.user.question1}"></span></button>
                        <div class="card" id="new-reservation" style="display: none">
                            <p  th:text="#{msg.about.user.answer1}"></p>
                        </div>

                        <p class="text-white"><span th:text="#{msg.about.user.info2}"></span> <span class="text-blue" th:text="#{msg.about.user.info2.reserve}"></span>.
                        </p>
                        <p class="text-white" th:text="#{msg.about.user.info3}"></p>
                        <button class="btn btn-danger" onclick="func('cancel-reservation')"><i class="fa fa-angle-down"></i> <span th:text="#{msg.about.user.question2}"></span></button>
                        <div class="card" id="cancel-reservation" style="display: none;">
                            <p><span th:text="#{msg.about.user.answer2}"> </span><span class="text-blue" th:text="#{msg.about.user.answer2.delete}"></span>
                            </p>
                        </div>

                    </div>
                </div>
                <div class="panel panel-default" style="background: rgba(33,37,41,0.9); padding: 0% 5% 5% 5%">
                    <div class="panel-heading">
                        <h3 class="panel-title text-white" th:text="#{msg.about.title2}"></h3>
                    </div>
                    <br>

                    <div class="panel-body">
                        <p class="text-white" th:text="#{msg.about.team.found}"></p>
                        <br>
                        <p class="text-white" th:text="#{msg.about.team.develop}"></p>
                        <ul>
                            <li class="text-white" th:text="#{msg.about.team.scrumMaster}"></li>
                            <li class="text-white" th:text="#{msg.about.team.productOwner}"></li>
                            <li class="text-white" th:text="#{msg.about.team.programmers}"></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function func(id) {
        var x = document.getElementById(id);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
<th:block th:include="fragments :: footer"></th:block>

<th:block th:include="fragments :: formValidationScript"></th:block>
<th:block th:include="fragments :: additionalScripts"></th:block>
</body>
</html>