<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>O nama</title>

    <th:block th:replace="fragments :: css"></th:block>
</head>
<body>
<th:block th:include="fragments :: header"></th:block>

<div layout:fragment="content" >

    <div style="background: url('/resources/static/img/login.jpeg')">
        <div class="row justify-content-md-center"  style="background: rgba(255,255,255,0.4)">
            <div class="col-md-7" style="padding-top: 20vh; padding-bottom: 10vh;">
                <div class="panel panel-default" style="background: rgba(33,37,41,0.9); padding: 5% 5%">
                    <div class="panel-heading">
                        <h3 class="panel-title text-white">Tko smo mi</h3>
                    </div>
                    <br>

                    <div class="panel-body">
                        <p class="text-white">Tim tulipani osnovan je 05.05.2018. godine.</p>
                        <br>
                        <p class="text-white">Na razvoju web aplikacije za rezervaciju team-building ponuda sudjelovali su:</p>
                        <ul>
                            <li class="text-white">Scrum master: Marko Štuban</li>
                            <li class="text-white">Product owner: Aleksander Radovan</li>
                            <li class="text-white">Razvojni tim: Marko Štuban, Antonio Barić, Ana Dedić, Maja Puljić i Filip Blažević</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="fragments :: footer"></th:block>

<th:block th:include="fragments :: formValidationScript"></th:block>
<th:block th:include="fragments :: additionalScripts"></th:block>
</body>
</html>