<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>O nama</title>

    <th:block th:replace="fragments :: css"></th:block>
</head>
<body>
<th:block th:include="fragments :: header"></th:block>

<div layout:fragment="content" >

    <div style="background: url('/resources/static/img/login.jpeg')">
        <div class="row justify-content-md-center"  style="background: rgba(255,255,255,0.4)">
            <div class="col-md-7" style="padding-top: 20vh; padding-bottom: 10vh;">
                <div class="panel panel-default" style="background: rgba(33,37,41,0.9); padding: 5% 5%">
                    <div class="panel-heading">
                        <h3 class="panel-title text-white">O team-building bookingu</h3>
                    </div>
                    <br>

                    <div class="panel-body">
                        <h5 class="text-white">Za ponuditelje</h5>
                        <p class="text-white">Ako ste korisnik koji želi objaviti svoju team-building ponudu preko aplikacije možete
                            dodati svoju ponudu tako da bude vidljiva svim potencijalnim korisnicima koji bi željeli rezervirati team-buidling.
                            <br>
                            <button onclick="func('new-offer')">Kako dodati novu ponudu?</button>
                        </p>

                        <div class="text-white" id="new-offer" style="display: none">
                            <p class="text-white">Kako bi ste dodali novu team building ponudu ulogirajte se, odaberite opciju Nova ponuda na navigciji,
                             ispunite obrazac sa podacima o team building ponudi i dodajte ponudu.</p>
                        </div>
                        <p class="text-white">Ako ste napravili pogrešku prilikom unosa podataka o team-building ponudi, ne paničarite, istu ponudu možete vrlo
                            jednostavno urediti i ispraviti pogrešku.
                            <br>
                            <button onclick="func('edit-offer')">Kako urediti postojeću ponudu?</button>

                        </p>
                        <div class="text-white" id="edit-offer" style="display: none">
                            <p class="text-white">Kako bi ste uredili postojeću team building ponudu ulogirajte se, odaberite opciju Moje ponude
                                i ispod ponude koju želite urediti odaberite opciju uredi.
                            </p>
                        </div>

                        <h5 class="text-white">Za korisnike</h5>
                        <p class="text-white">Želite rezervirati team building za svoj tim? Preko team-building bookinga možete pretražiti
                            i vidjeti detalje o svim team-building ponudama prema vašim kriterijima.
                            <br>
                            <button onclick="func('new-reservation')">Kako pretražiti team building ponude?</button>
                        </p>
                        <div class="text-white" id="new-reservation" style="display: none">
                            <p class="text-white">Kako bi ste pretražili dostupne team building ponude odaberite opciju Ponude.
                                Da bi ste pronašli ponude koje vam odgovaraju možete unijeti kriterije po kojima želite filtrirati ponude
                                 i odabrati opciju Pretraži ponude.
                            </p>
                        </div>

                        <p class="text-white">Pronašli ste ponudu koja vam odgovara? Nakon pregleda detalja o ponudi jednostavno odaberite planirani
                            broj ljudi, planirani datum i odaberite opciju <span class="text-blue">Rezerviraj ponudu</span>.
                        </p>
                        <p class="text-white">Predomislili ste se? Na pregledu rezervacija možete otkazati rezervaciju.
                            <br>
                            <button onclick="func('cancel-reservation')">Kako otkazati rezervaciju?</button>
                        </p>
                        <div class="text-white" id="cancel-reservation" style="display: none">
                            <p class="text-white">Kako bi ste pretražili dostupne team building ponude odaberite opciju Ponude.
                                Da bi ste otkazali rezervaciju team building ponude odaberite opciju Moje rezervacije
                                , i ispod rezervacije koju želite otkazati odaberite opciju Izbriši.
                            </p>
                        </div>

                    </div>
                </div>
                <div class="panel panel-default" style="background: rgba(33,37,41,0.9); padding: 5% 5%">
                    <div class="panel-heading">
                        <h3 class="panel-title text-white">Tko smo mi</h3>
                    </div>
                    <br>

                    <div class="panel-body">
                        <p class="text-white">Tim tulipani osnovan je 05.05.2018. godine.</p>
                        <br>
                        <p class="text-white">Na razvoju web aplikacije za rezervaciju team-building ponuda sudjelovali su:</p>
                        <ul>
                            <li class="text-white">Scrum master: Marko Štuban</li>
                            <li class="text-white">Product owner: Aleksander Radovan</li>
                            <li class="text-white">Razvojni tim: Marko Štuban, Antonio Barić, Ana Dedić, Maja Puljić i Filip Blažević</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function func(id) {
        var x = document.getElementById(id);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
<th:block th:include="fragments :: footer"></th:block>

<th:block th:include="fragments :: formValidationScript"></th:block>
<th:block th:include="fragments :: additionalScripts"></th:block>
</body>
</html>