<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{msg.contact.pageTitle}"></title>
    <style>
        ul {
            color: white;
        }
    </style>

    <th:block th:replace="fragments :: css"></th:block>
</head>
<body>
<th:block th:include="fragments :: header"></th:block>

<div layout:fragment="content" >

    <div style="background: url('/resources/static/img/login.jpeg')">
        <div class="row justify-content-md-center"  style="background: rgba(255,255,255,0.4)">
            <div class="col-md-7" style="padding-top: 20vh; padding-bottom: 10vh;">
                <div class="panel panel-default" style="background: rgba(33,37,41,0.9); padding: 5% 5%">
                    <div class="panel-heading">
                        <h3 class="panel-title text-white" th:text="#{msg.contact.title}"></h3>
                    </div>
                    <br>

                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-6">
                                <span class="text-white"><i class="fa fa-phone"></i> <span th:text="#{msg.contact.telephone}"></span></span>
                                <br/>
                                <span class="text-white"><i class="fa fa-home"></i> <span th:text="#{msg.contact.address}"></span></span>
                                <br/>
                                <br/>

                                <p class="text-white" th:text="#{msg.contact.info}"></p>
                                <ul>
                                    <li><a href="mailto:mstuban@tvz.hr?Subject=Hello%20again" target="_top">mstuban@tvz.hr</a></li>
                                    <li><a href="mailto:abaric@tvz.hr?Subject=Hello%20again" target="_top">abaric@tvz.hr</a></li>
                                    <li><a href="mailto:adedic@tvz.hr?Subject=Hello%20again" target="_top">adedic@tvz.hr</a></li>
                                    <li><a href="mailto:mpuljic@tvz.hr?Subject=Hello%20again" target="_top">mpuljic@tvz.hr</a></li>
                                    <li><a href="mailto:fblazevic@tvz.hr?Subject=Hello%20again" target="_top">fblazevic@tvz.hr</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1544.9361139342734!2d15.96902411194991!3d45.79519754129109!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4765d68b5d094979%3A0xda8bfa8459b67560!2sUl.+Vrbik+VIII%2C+10000%2C+Zagreb!5e1!3m2!1shr!2shr!4v1527840138758" width="100%  " height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="fragments :: footer"></th:block>

<th:block th:include="fragments :: formValidationScript"></th:block>
<th:block th:include="fragments :: additionalScripts"></th:block>
</body>
</html>