<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<th:block th:fragment="css">

	<link rel="shortcut icon"
		th:href="@{/resources/static/img/favicon.ico}" type="image/x-icon">
	<link rel="icon" th:href="@{/resources/static/img/favicon.ico}"
		type="image/x-icon">

	<link rel="stylesheet"
		th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css}">
	<link th:href="@{/resources/static/css/bootstrap.css}" rel="stylesheet"
		type="text/css" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

    <!--Date picker range ako bude trebalo-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

</th:block>
</head>
<body>

	<th:block th:fragment="header">
		<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
			<a class="navbar-brand" th:href="@{/}" style="margin-left: 3%"> <img
				src="/resources/static/img/logo.png"
				style="width: 80px; margin: -12px 7px 0px 0px;" /> Team building
				booking
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active" sec:authorize="hasRole('ROLE_USER')" ><a class="nav-link" th:href="@{/offer/search}">Ponude<span
							class="sr-only">(current)</span></a></li>
					<li class="nav-item active" sec:authorize="hasAnyRole('ROLE_ADMIN, ROLE_PROVIDER')" ><a class="nav-link" th:href="@{/offer/new}">Nova ponuda<span
							class="sr-only">(current)</span></a></li>
					<li class="nav-item active"><a class="nav-link" href="#">O
							nama</a></li>
					<li class="nav-item active"><a class="nav-link" href="#">Kontakt</a>
					</li>
				</ul>
				<ul class="navbar-nav my-2 my-lg-0" style="margin-right: 10%">
					<li th:if="${navLinkText} == 'Registracija'"  class="nav-item" sec:authorize="isAnonymous()"><a
						class="nav-link" th:href="@{/register}">Registriraj se</a>
					</li>
					<li th:if="${navLinkText} == 'Prijava'"  class="nav-item" sec:authorize="isAnonymous()"><a
							class="nav-link" th:href="@{/login}">Prijavi se</a>
					</li>
					<li class="nav-item dropdown" sec:authorize="isAuthenticated()">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"><strong sec:authentication="name"></strong></a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#" sec:authorize="!hasAnyRole('ROLE_PROVIDER')"><i class="fa fa-pencil-square"></i> Moje rezervacije</a>
							<a class="dropdown-item" href="#" sec:authorize="hasAnyRole('ROLE_ADMIN, ROLE_PROVIDER')"><i class="fa fa-opencart"></i> Moje ponude</a>
							<a class="dropdown-item" th:href="@{/profile/me}" sec:authorize="hasRole('ROLE_USER')"><i class="fa fa-user"></i> Moj profil</a>
							<a class="dropdown-item" th:href="@{/profile/edit}" sec:authorize="hasRole('ROLE_USER')"><i class="fa fa-pencil"></i> Uredi profil</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/logout}"><i class="fa fa-power-off"></i> Odjava</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</th:block>

	<th:block th:fragment="footer">
		<footer class="footer">
			<div class="container-fluid">
				<p class="text-center" style="margin-top: 30vh;">
					<th:block>by <span class="text-info">Team
							tulipani</span>
					</th:block>
					&copy;
					<th:block th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></th:block>
				</p>
			</div>
		</footer>
	</th:block>

	<th:block th:fragment="additionalScripts">

		<!-- <script th:src="@{/webjars/spin-js/2.1.0/spin.js}"></script> -->

		<script th:src="@{/resources/static/js/jquery-3.3.1.min.js}"
			type="text/javascript"></script>

		<script th:src="@{/resources/static/js/custom.js}"
			type="text/javascript"></script>

		<script th:src="@{/resources/static/js/bootstrap.js}"
			type="text/javascript"></script>

        <!-- Date picker range-->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

	</th:block>


	<th:block th:fragment="formValidationScript">
		<script>
			// Example starter JavaScript for disabling form submissions if there are invalid fields
			(function() {
				'use strict';
				window
						.addEventListener(
								'load',
								function() {
									// Fetch all the forms we want to apply custom Bootstrap validation styles to
									var forms = document
											.getElementsByClassName('needs-validation');
									// Loop over them and prevent submission
									var validation = Array.prototype.filter
											.call(
													forms,
													function(form) {
														form
																.addEventListener(
																		'submit',
																		function(
																				event) {
																			if (form
																					.checkValidity() === false) {
																				event
																						.preventDefault();
																				event
																						.stopPropagation();
																			}
																			form.classList
																					.add('was-validated');
																		},
																		false);
													});
								}, false);
			})();
		</script>
	</th:block>
	<th:block th:fragment="newOfferScript">
		<script>
			// Example starter JavaScript for disabling form submissions if there are invalid fields
			(function() {
				'use strict';
				window
						.addEventListener(
								'load',
								function() {
									// Fetch all the forms we want to apply custom Bootstrap validation styles to
									var forms = document
											.getElementsByClassName('needs-validation');
									// Loop over them and prevent submission
									var validation = Array.prototype.filter
											.call(
													forms,
													function(form) {
														form
																.addEventListener(
																		'submit',
																		function(
																				event) {
																			if (form
																					.checkValidity() === false) {
																				event
																						.preventDefault();
																				event
																						.stopPropagation();
																			}
																			form.classList
																					.add('was-validated');
																		},
																		false);
													});
								}, false);
			})();
		</script>
	</th:block>


</body>
</html>