<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Prijava</title>
<th:block th:include="fragments/headerincludes :: head" />
</head>
<body style=" height: 100%; 
	 width: 100%; 
	 background-size: cover;">
	<div class="container" style="padding-top: 20vh;">
		<div class="row justify-content-md-center">
			<div class="col-md-5">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Prijav korisnika</h3>
						<br></br>
					</div>
					<div class="panel-body">

						<form role="form" method="POST" name="formLogin"
							th:action='@{/login}'>
							<fieldset>
								<div class="form-group">
									<input class="form-control" autofocus="autofocus"
										required="required" placeholder="Email" name="email"
										type="text" />
								</div>
								<div class="form-group">
									<input class="form-control" required="required"
										placeholder="Lozinka" name="password" type="password" value="" />
								</div>

								<input class="btn btn-lg btn-outline-primary btn-block"
									type="submit" value="Prijava" />
							</fieldset>
							<div class="form-check"
								style="padding-top: 16px; padding-bottom: 16px">
								<input type="checkbox" class="form-check-input" id="rememberMe">
								<label class="form-check-label" for="rememberMe">Zapamti
									me?</label>
							</div>
						</form>
						<div class="dropdown-divider"></div>
						<div class="row">
							<div class="col-sm">
								<a href="#">Zaboravio sam lozinku?</a>
							</div>
							<div class="col-sm text-right">
								<a th:href="@{/register}">Registriraj se!</a>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>


	</div>
</body>
</html>
