<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{msg.register.pageTitle}"></title>

    <th:block th:replace="fragments :: css"></th:block>
</head>

<body>

<th:block th:include="fragments :: header"></th:block>


<div layout:fragment="content">
    <div class="container" style="padding-top: 20vh;">

        <div class="row justify-content-md-center">
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="#{msg.login.title}"></h3>
                        <br>
                    </div>
                    <div class="panel-body">

                        <form role="form" method="POST" name="formRegister" th:action="@{/register}" th:object="${registrationForm}" class="needs-validation" novalidate>

                            <div class="form-group">
                                <select class="custom-select mr-sm-2" id="roleSelect" th:field="*{userRole}">
                                    <option selected th:value="ROLE_USER" th:text="#{msg.register.role.user}"></option>
                                    <option th:value="ROLE_PROVIDER" th:text="#{msg.register.role.provider}"></option>
                                </select>

                                <div class="text-danger" th:if="${#fields.hasErrors('userRole')}" th:errors="*{userRole}">Name Error</div>
                                <small id="roleSelectHelp" class="form-text text-muted" th:text="#{msg.register.role.help}"></small>
                            </div>
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name"
                                       th:placeholder="#{msg.register.name}" required autofocus th:field="*{name}">

                                <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
                                <div class="invalid-feedback" th:text="#{msg.register.validation.name}"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="lastName" class="form-control" id="lastName"
                                       th:placeholder="#{msg.register.surname}" th:field="*{surname}" required autofocus>

                                <div class="text-danger" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Name Error</div>
                                <div class="invalid-feedback" th:text="#{msg.register.validation.surname}"></div>

                            </div>
                            <div class="form-group">
                                <input type="date" name="dateOfBirth" class="form-control" id="dateOfBirth"
                                       th:placeholder="#{msg.register.dateOfBirth}"  th:field="*{dateOfBirth}" required autofocus>

                                <small class="form-text text-muted" th:text="#{msg.register.validation.dateOfBirth}"></small>
                            </div>

                            <div class="form-group">
                                <input type="email" name="email" class="form-control" id="email"
                                       th:placeholder="#{msg.register.email}" th:field="*{email}" required autofocus>

                                <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</div>

                                <div class="invalid-feedback" th:text="#{msg.register.validation.email}"></div>
                            </div>

                            <div class="form-group">
                                <input type="tel" name="telephone" class="form-control" id="telephone"
                                       th:placeholder="#{msg.register.telephone}" th:field="*{telephone}" autofocus maxlength="20">

                                <div class="text-danger" th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}">Name Error</div>

                                <div class="invalid-feedback" th:text="#{msg.register.validation.telephone}"></div>
                            </div>

                            <div class="form-group">
                                <input type="tel" name="username" class="form-control" id="username"
                                       th:placeholder="#{msg.register.username}" th:field="*{username}" autofocus maxlength="20">

                                <div class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</div>
                                <small id="roleSelectHelp" class="form-text text-muted"></small>
                                <div class="invalid-feedback" th:text="#{msg.register.validation.username}"></div>
                            </div>

                            <div class="form-group">
                                <input type="password" name="password" class="form-control" id="password"
                                       th:placeholder="#{msg.register.password}" th:field="*{password}"required>

                                <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</div>

                            </div>
                            <div class="form-group">
                                <input type="password" name="passwordConfirm" class="form-control" id="passwordConfirm"
                                       th:placeholder="#{msg.register.passwordRepeat}" th:field="*{confirmPassword}" required>

                                <div class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Name Error</div>

                                <div class="invalid-feedback" th:text="#{msg.register.validation.password}"></div>
                            </div>

                            <input class="btn btn-lg btn-outline-primary btn-block" type="submit" th:value="#{msg.register}" value="Registriraj se" />
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<th:block th:include="fragments :: footer"></th:block>
<th:block th:include="fragments :: formValidationScript"></th:block>
<th:block th:include="fragments :: additionalScripts"></th:block>
</body>