<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="'Uspješna rezervacija'"></title>

</head>
<body>

<div layout:fragment="content">

    <div class="container-fluid" style="padding-top: 20vh;">
        <div class="row justify-content-md-center">
            <h3 class="text-success" th:text="#{msg.reservation.success}"></h3>
        </div>
        <div class="row justify-content-md-center">
            <a href="#">Moje rezervacije</a>
        </div>
    </div>

</div>
</body>
</html>